<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestingSuite" parallel="none">

    <test name="DiPocketAPITests">
        <classes>
            <class name="registration.RegistrationTest"/>
            <class name="homePage.HomePageWithAlreadyExistClientTest"/>
            <class name="tds.TDS_v1_bio_accept_Test"/>
            <class name="tds.TDS_v1_bio_decline_Test"/>
            <class name="tds.TDS_v1_sms_decline_Test"/>
            <class name="tds.TDS_v1_sms_accept_Test"/>
            <class name="tds.TDS_v2_browser_app_accept_Test"/>
            <class name="tds.TDS_v2_browser_app_decline_Test"/>

        </classes>
    </test>
</suite>