<suite name = "Automation Suite" allow-return-values="true" verbose="3" parallel="classes" thread-count="4">
<!--<test name = "testngTest" parallel="classes" thread-count="2">-->
 <test name = "testngTest">
     <classes>

         <class name="RegistrationTest" />
<!--         <class name="RegTest" />-->

     </classes>

 </test>

</suite>