<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestingSuite" parallel="none">

    <test name="DiPocketAPITests">
        <classes>
<!--            <class name="registration.RegistrationTest"/>-->
<!--            <class name="homePage.HomePageWithAlreadyExistClientTest"/>-->

<!--            <class name="tds.TDSV1BioAcceptTest"/>-->
<!--            <class name="tds.TDSV1BioDeclineTest"/>-->
<!--            <class name="tds.TDSV1SmsDeclineTest"/>-->
<!--            <class name="tds.TDSV1SmsAcceptTest"/>-->
<!--            <class name="tds.TDSV1PareqAllFieldsTest"/>-->

<!--            <class name="tds.TDSV2BrowserAppAcceptTest"/>-->
<!--            <class name="tds.TDSV2BrowserAppCancelTest"/>-->
<!--            <class name="tds.TDSV2BrowserAppDeclineTest"/>-->
            <class name="tds.TDSV2BrowserAppSmsInsteadAcceptTest"/>
<!--            <class name="tds.TDSV2CReqAllFieldsTest"/>-->

        </classes>
    </test>
    <test name="DiPocketAPITests2">
        <classes>
            <!--            <class name="registration.RegistrationTest"/>-->
            <!--            <class name="homePage.HomePageWithAlreadyExistClientTest"/>-->

            <!--            <class name="tds.TDSV1BioAcceptTest"/>-->
            <!--            <class name="tds.TDSV1BioDeclineTest"/>-->
            <!--            <class name="tds.TDSV1SmsDeclineTest"/>-->
            <!--            <class name="tds.TDSV1SmsAcceptTest"/>-->
            <!--            <class name="tds.TDSV1PareqAllFieldsTest"/>-->

            <!--            <class name="tds.TDSV2BrowserAppAcceptTest"/>-->
            <!--            <class name="tds.TDSV2BrowserAppCancelTest"/>-->
            <!--            <class name="tds.TDSV2BrowserAppDeclineTest"/>-->
<!--            <class name="tds.TDSV2BrowserAppSmsInsteadAcceptTest"/>-->
            <class name="tds.TDSV2CReqAllFieldsTest"/>

        </classes>
    </test>
</suite>